/* Regions & Districts style start */

.rgn-modal-card {
  width: 100%;
  max-width: 460px;
  padding: 30px 40px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.rgn-modal-title {
  font-family: noto-b;
  font-size: 20px;
  color: #003366;
}

.rgn-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rgn-form-group {
  display: flex;
  flex-direction: column;
}

.rgn-form-group label {
  font-family: noto-m;
  font-size: 14px;
  color: #003366;
  margin-bottom: 9px;
}

.rgn-form-group input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #003366;
  padding: 0 15px;
  outline: none;
}

/* Districts start */

.districts-container {
  max-width: 912px;
  padding: 30px 60px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 70px auto;
  align-items: center;
}

.districts-container h1 {
  font-family: noto-b;
  font-size: 20px;
  color: #003366;
}

.district-form {
  display: flex;
  flex-direction: column;
}

.district-form-group input {
  width: 330px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #003366;
  margin-top: 9px;
}

.district-form-group select {
  width: 330px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #003366;
  margin-top: 9px;
  padding: 8px 15px;
  outline: none;
}

.district-form label {
  color: #003366;
}

.district-form-group {
  display: flex;
  flex-direction: column;
}

/* Districts end */
